name: Actions Workflow
on:
#   issue_comment:                                     
#     types: [created, edited]
  workflow_dispatch:

jobs:
  run-github-actions:

#     if: contains(github.event.comment.html_url, '/pull/') && contains(github.event.comment.body, '/run features by GHA') 
    runs-on: ubuntu-latest
    steps:
      - name: payload
        run: echo ${{ github.event.client_payload.env }}
      - name: List Files
        run: |
          echo "REf name: ${{ github.ref_name }}"
          echo "Ref head: ${{ github.head_ref }}"
          echo "EVENT: ${{ github.event }}"

          pwd
          ls -a
          echo $GITHUB_SHA

      - name: Checkout
        uses: actions/checkout@v1
      - name: List Files2
        run: |
          pwd
          ls -a
      - name: Simple JS Action
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: 'Alex'
      - name: Log Greeting Time
        run: echo "${{steps.greet.outputs.time}}"
